*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(bg.png);
    background-size: cover;
    background-attachment: fixed;
    

}
header{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    height: 15vh;
    padding: 50px 50px;
    width: 98.8vw;
}
header ul{
    display: flex;
    color: beige;
    gap: 60px;
    align-items: center;
    list-style: none;
    margin-right: 150px;
    cursor: pointer;
}
.logo{
    display: flex;
    height: 35px;
    cursor: pointer;
    
}
.border{
    width: 1px;
 height: 45px;   
    border-right: 2px solid white;

}
button{
    padding: 10px 30px;
    background-color: #BA0CC5;
    border-radius: 8px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    text-align: center;
}
h1{
    font-size: 13vh;
    color: #FFFFFF;
    margin-top: 105px;
    line-height: 100px;


}
p{
    color: #FFFFFF;
    font-size: 5vh;
    line-height: 80px;
}
.btn{
    padding: 16px ;
    font-size: 34px;
    margin-top: 60px;
    border-radius: 15px;
}
 ul:hover{
    font-size: 25px;
    color: blue;
    text-decoration: underline;
}
button:hover{
    border: 5px solid gray;
}
.btn:hover{
    border: 2px solid gray;
    background-color: aqua;
    color: black;
}